body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
  font-family: "Source Sans 3";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.horizontalContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.mainPage {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.jobBoard {
  height: 94vh;
}
/* Job Overview */
.jobOverviewPanel {
  width: 30rem;
  border: 1px solid gray;
}

.jobOverview {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.jobOverview:hover {
  cursor: pointer;
}
.jobOverview:not(.selectedJob):hover {
  background-color: aliceblue;
}
.jobOverview:hover .overviewTitle {
  text-decoration: underline;
}

.selectedJob {
  background-color: rgba(0, 210, 255, 0.2);
}

.overviewTitle {
  font-size: 1.6rem;
  color: #4169e1;
  font-weight: 500rem;
}

/* End Job Overview */

/* Page Controls */
.pageControls {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pageButton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none; /* Remove underline */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius */
  cursor: pointer; /* Change cursor on hover */
  width: 9rem;
}

.pageButton:hover {
  background-color: #d3d3d3;
}

.pageNumber {
  margin: auto;
  display: inline-block;
  border-radius: 50%; /* Make it circular */
  padding-left: 0.9rem; /* Adjust padding as needed */
  padding-right: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: rgba(211, 211, 211, 0.5);
}
/* End Page Controls */

/* Job Details */
.jobDetails {
  width: 39rem;
  border: 1px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.applyButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius */
  cursor: pointer; /* Change cursor on hover */
  width: fit-content;
}

.detailsTitle {
  font-size: 2rem;
  font-weight: 500;
}

.detailsCompany {
  font-weight: 550;
  font-size: 1.3rem;
}

/* End Job Details */

/* Search Bar */
.searchBarPanel {
  height: 7rem;
  align-items: center;
  display: flex;
  padding-left: 22vw;
  background-color: #007bff;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}
.searchBar {
  height: 1.6rem;
  margin-right: 1rem;
  border-radius: 8px;
}
/* End Search Bar */
